<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://localhost:3007/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login">
      <div class="login--form">
        <h2>Welcome back</h2>
        <h3>welcom back! Please enter yourd etails.</h3>

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
        />

        <div class="checkbox">
          <input type="checkbox" value="lsRememberMe" id="rememberMe" />
          <label for="rememberMe">Remember me</label>
        </div>

        <div class="btn btn1">Singn in</div>
        <div class="btn btn2">Singn in with google</div>
      </div>
      <img
        class="login--img"
        src="http://localhost:3007/login-img.jpg"
        alt="education"
      />
    </div>
  </body>
</html>
